<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.habieb.listviewsample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.habieb.listviewsample.SplashScreenActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PilihArrayActivity"
            android:label="Pilih Array" />
        <activity
            android:name=".ListStatisActivity"
            android:label="Ini List Statis" />
        <activity
            android:name=".ListDinamisActivity"
            android:label="Ini List Dinamis" />
        <activity
            android:name=".ListDinamisObjectActivity"
            android:label="Ini List Dinamis Object" />
        <activity
            android:name=".GridDinamisObjectActivity"
            android:label="Ini Grid Dinamis Object" />
        <activity
            android:name=".DetailActivity"
            android:label="Ini detail" />
    </application>

</manifest>